body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:680px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:680px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:332px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:35px;
  width:122px;
  height:34px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:26px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:26px;
  width:115px;
  height:50px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
