body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:682px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:682px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:333px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:56px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:680px;
  width:414px;
  height:55px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:685px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
  text-align:center;
}
#u890_img.selected {
}
#u890.selected {
}
#u891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:685px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
  text-align:center;
}
#u892_img.selected {
}
#u892.selected {
}
#u893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:685px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
  text-align:center;
}
#u894_img.selected {
}
#u894.selected {
}
#u895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:685px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
  text-align:center;
}
#u896_img.selected {
}
#u896.selected {
}
#u897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:718px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#5E5E5E;
}
#u898_img.selected {
}
#u898.selected {
}
#u899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:718px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#5E5E5E;
}
#u900_img.selected {
}
#u900.selected {
}
#u901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:718px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#5E5E5E;
}
#u902_img.selected {
}
#u902.selected {
}
#u903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:718px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#5E5E5E;
}
#u904_img.selected {
}
#u904.selected {
}
#u905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
