body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:682px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:682px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:333px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:56px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:680px;
  width:414px;
  height:55px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:685px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
  text-align:center;
}
#u844_img.selected {
}
#u844.selected {
}
#u845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:685px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
  text-align:center;
}
#u846_img.selected {
}
#u846.selected {
}
#u847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:685px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
  text-align:center;
}
#u848_img.selected {
}
#u848.selected {
}
#u849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:685px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
  text-align:center;
}
#u850_img.selected {
}
#u850.selected {
}
#u851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:718px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#5E5E5E;
}
#u852_img.selected {
}
#u852.selected {
}
#u853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:718px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#5E5E5E;
}
#u854_img.selected {
}
#u854.selected {
}
#u855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:718px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#5E5E5E;
}
#u856_img.selected {
}
#u856.selected {
}
#u857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:718px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#5E5E5E;
}
#u858_img.selected {
}
#u858.selected {
}
#u859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
