body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:1690px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:1690px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:837px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:117px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:473px;
  width:123px;
  height:117px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_ann {
  border-width:0px;
  position:absolute;
  left:1347px;
  top:469px;
  width:1px;
  height:1px;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:67px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:499px;
  width:61px;
  height:66px;
  font-size:28px;
  color:#FFFFFF;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
