body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:803px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:662px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:414px;
  height:661px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:322px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:23px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:23px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:50px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:414px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:410px;
  word-wrap:break-word;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:88px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:414px;
  height:87px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:410px;
  word-wrap:break-word;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:17px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:181px;
  width:345px;
  height:16px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  white-space:nowrap;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:207px;
  width:99px;
  height:16px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:17px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:242px;
  width:295px;
  height:16px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:276px;
  width:99px;
  height:16px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:2px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:231px;
  width:399px;
  height:1px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:2px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:302px;
  width:399px;
  height:1px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:17px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:321px;
  width:345px;
  height:16px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  white-space:nowrap;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:347px;
  width:99px;
  height:16px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:17px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:382px;
  width:295px;
  height:16px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:416px;
  width:99px;
  height:16px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:2px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:371px;
  width:399px;
  height:1px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:2px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:442px;
  width:399px;
  height:1px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:262px;
  width:300px;
  height:170px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:26px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:167px;
  width:399px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
